flask>=2.3
librosa>=0.10
numpy>=1.23
scipy>=1.9
soundfile>=0.12
yt-dlp>=2024.3.10
spotdl>=4.4.3
scdl>=3.0.0
soundcloud-v2>=1.6.0
google-auth>=2.0.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.2.0
flask-session>=0.5.0
requests>=2.31.0
